/* FONTS */
@font-face {
    font-family: "salad";
    src: url("../fonts/timeforsalad.ttf");
}

html, body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    height: auto;
    background-color: #f9ca24;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* BUTTON */

.button {
    position: absolute;
    right: 0;
    padding: 5px;
    max-width: 1vw;
    max-height: auto;
}

.dropbtn {
    background-color: #f9ca24;
    color: #400040;
    padding: 16px;
    font-size: 30px;
    border: 0;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #9f7f9f;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    position: relative;
    top: 150px;
    display: block;
}

/* Dropdown Content (Hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8ccd8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: "Quicksand";
    color: #400040;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (us JS to add this class to the .dropdown-content container when the user clicks the dropdown menu) */
.show {
    display: block;
}

/* CONTENT */

.title {
    display: block;
    align-items: center;
    max-width: 100%;
    padding: 10px;
}

h1 {
    font-family: "Helvetica";
    font-size: 10vw;
    font-weight: 700;
    color: #400040;
    text-align: left;
    letter-spacing: 5px;
}

.resizeText {
    font-size: 8vw;
    letter-spacing: 10px;
}