html, body {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    margin: auto auto;
}

img, iframe, object {
    max-width: 100%;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header {
    position: relative;
    background-color: #f9ca24;
    width: 100%;
    max-height: auto;
}

.title {
    text-align: center;
    font-family: "Cooper STD";
    font-size: 8vh;
    color: #400040;
    text-shadow: 2px 2px white;
}

/* BUTTONS */ 

.button-section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#socialMedia {
    font-size: 25px;
    border: 0;
    background-color: #f9ca24;
    color: #400040;
}

a:link, a:visited {
    color: #400040;
    text-decoration: none;
}

/* DROPDOWN BUTTON */

.dropbtn {
    background-color: #FFAE19;
    color: #400040;
    cursor: pointer;
}

.dropbtn:hover, dropbtn:focus {
    background-color: #9F7F9F;
    border: 0;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D8CCD8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    font-family: "Quicksand";
    color: #400040;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #DDD;
}

.show {
    display: block;
}

/* CONTENT */ 

.content {
    display: block;
    max-width: 80vw;
    height: auto;
    justify-content: center;
    align-content: center;
}

/* mobile */ 

.bio {
    float: left;
    font-size: 2.5vh;
    display: inline;
    font-family: "Quicksand";
    height: auto;
    padding: 0;
    margin: 0;
}

.headshot {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

.headshot img {
    height: 60%;
    width: 60%;
    padding: 20px;
}

/* screens at least 1025px */

@media only screen and (min-width: 1025px) {
    .content {
        padding-bottom: 2vh;
        padding-top: 10px;
        position: relative;
        left: 30px;
    }
    
    .bio {
        float: left;
        width: 50%;
    }
    
    .headshot {
        float: left;
        width: 50%;
    }
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    background-color: #f9ca24;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    height: 10vh;
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 400;
}

.footer p {
    color: #400040;
}


