@font-face {
    font-family: "cooperSTD";
    src: url("font/cooper_std.ttf");
}

html, body {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    margin: auto auto;
}

img, iframe, object {
    max-width: 100%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.head {
    position: static;
    background-color: #f9ca24;
    width: 100%;
    max-height: auto;
}

.title {
    text-align: center;
    font-family: "cooperSTD";
    font-size: 8vh;
    color: #400040;
    text-shadow: 2px 2px white;
    padding: 35px 0 0 0;
    margin: 0;
}

/* BUTTONS */ 

.button-section {
    position: static;
    top: 0;
    right: 0;
    padding: 10px;
}

#socialMedia {
    font-size: 25px;
    border: 0;
    background-color: #f9ca24;
}

a:link, a:visited {
    color: #400040;
    text-decoration: none;
}

/* Dropdown Button */

.dropbtn {
    background-color: #FFAE19;
    color: #400040;
    cursor: pointer;
}

.dropbtn:hover, dropbtn:focus {
    background-color: #9F7F9F;
    border: 0;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D8CCD8;
    min-width: 160px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    font-family: "Quicksand";
    color: #400040;
    padding: 12 px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #DDD;
}

.show {
    display: block;
}

/* CONTENT */

.content {
    align-content: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    max-height: auto;
    padding-bottom: 10vh;
}

.content iframe {
    max-width: 100%;
    max-height: auto;
    padding-top: 20px;
}

.about h2 {
    position: relative;
    top: -15px;
    text-align: center;
    color: #400040;
    font-size: 3vw;
    font-family: "Francois One";
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    background-color: #f9ca24;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    height: 10vh;
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 400;
}

.footer p {
    color: #400040;
}


