html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flex-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.topBar {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
    background-color: #f9ca24;
}

.topBar h1 {
    text-align: center;
    font-family: "Cooper STD";
    font-size: 45px;
    color: #400040;
    text-shadow: 2px 2px white;
}

/* BUTTONS */ 

.button-section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: auto;
}

#socialMedia {
    font-size: 25px;
    border: 0;
    background-color: #f9ca24;
}

a:link, a:visited {
    color: #400040;
    text-decoration: none;
}

/* Dropdown Button */

.dropbtn {
    background-color: #FFAE19;
    color: #400040;
    cursor: pointer;
}

.dropbtn:hover, dropbtn:focus {
    background-color: #9F7F9F;
    border: 0;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D8CCD8;
    min-width: 160px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    font-family: "Quicksand";
    color: #400040;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #DDD;
}

.show {
    display: block;
}

.content {
    max-width: 100%;
    height: auto;
}

.bio {
    display: inline-block;
    font-family: "Quicksand";
    max-width: 500px;
    height: auto;
    position: relative;
    bottom: 10px;
    left: 70px;
}

.headshot {
    display: inline-block;
    height: auto;
}

.headshot img {
    max-height: 60%;
    max-width: 60%;
    position: relative;
    left: 120px;
    top: 20px;
}

footer {
    position: relative;
    height: auto;
}

.footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    max-height: 80em;
    background-color: #f9ca24;
}

.footer p {
    text-align: center;
    color: #400040;
    font-family: "Quicksand";
}

.footer-buttons {
    text-align: center;
    padding-top: 10px;
}


