html, body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #FFAE19;
    max-width: 100%;
}

/* FONTS */
@font-face {
    font-family: "salad";
    src: url("../fonts/timeforsalad.ttf");
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
    left: 46%;
    top: 15px;
}

.nav button {
    font-size: 40px;
    padding: 10px;
    border: 0;
    background-color: #FFAE19;
    color: #400040;
}

.title {
    align-items: center;
}

h1 {
    font-family: "Helvetica";
    font-size: 120px;
    font-weight: 700;
    color: #400040;
    text-align: left;
    letter-spacing: 5px;
    margin-left: 25px;
}

.resizeText {
    font-size: 90px;
    letter-spacing: 10px;
}