html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: orange;
    max-width: 100%;
    max-height: 40vh;
    padding-right: 80vw;
}

.head img {
    position: relative;
    left: 30px;
    max-height: 40vh;
    max-width: 20vw;
}

.topButtons {
    display: inline;
    position: relative;
    left: 90vw;
    top: -40vh;
    padding: 20px;
}

/* 
.nav {
    position: relative;
    left: 92vw;
    top: -40vh;
    padding: 20px;
}

*/

.tagline {
    text-align: center;
    padding: 30px 30px 0px 30px;
    font-family: "Song Myung";
    font-size: 20px;
}

.videoWrapper {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.divide {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 30px 30px 30px;
}

.fnmDescription {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    margin: auto;
}

.headshot {
    max-height: auto;
    max-width: 25%;
}

.textbox {
    background-color: hotpink;
    width: 25%;
    height: auto;
}

.textbox p {
    text-align: right;
    font-family: "Song Myung";
    font-size: 15px;
    padding: 10px;
    position: relative;
    top: -5px;
}

.footer {
    background-color: orange;
    padding: 40px 40px 20px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}