html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

/* FONTS */
@font-face {
    font-family: "salad";
    src: url("../fonts/timeforsalad.ttf");
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: #FFAE19;
    max-width: 100%;
    max-height: 40vh;
    padding-right: 80vw;
    border-bottom: 3px solid #400040; 
}

.head img {
    position: relative;
    left: 30px;
    max-height: 40vh;
    max-width: 20vw;
}

/* BUTTONS */

.topButtons {
    display: inline;
    position: relative;
    left: 79vw;
    top: -38.5vh;
    padding: 20px;
}

.topButtons button {
    padding: 18px;
}

#socialMedia {
    font-size: 40px;
    padding: 10px;
    border: 0;
    background-color: #FFAE19;
    color: #400040;
}

button {
    border: 0;
}

/* DROPDOWN BUTTON */
.dropbtn {
    display: inline;
    background-color: #FFAE19;
    color: #400040;
    padding: 16px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #9f7f9f;
}

.dropdown {
    float: right;
    position: relative;
    left: 80vw;
    top: -50vh;
    display: inline-block;   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    font-family: "Quicksand";
    color: #400040;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.tagline {
    text-align: center;
    padding: 30px 30px 0px 30px;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 500;
}

.videoWrapper {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.divide {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 30px 30px 30px;
}

.divide p {
    font-size: 42px;
    color: white;
    font-family: "salad";
    -webkit-text-stroke: 2px black;
}

.fnmDescription {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;
    padding-bottom: 45px;
}

.fnmDescription h1 {
    font-size: 50px;
    font-family: "Quicksand";
    color: #400040;
    letter-spacing: 5px;
    position: relative;
    top: -20px;
}

.synopsis {
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

#subscribe {
    font-family: "salad";
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    position: relative;
    bottom: -15px;
    padding: 10px;
}

#youtubeLink {
    padding: 0px;
}

#youtubeLink p {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-size: 25px;
    color: red;
    font-weight: 700;
    -webkit-text-stroke: 0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    margin: auto;
}

.footer {
    background-color: #FFAE19;
    padding: 40px 40px 20px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 400;
}