html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: hotpink;
    max-width: 100%;
    max-height: 40vh;
    padding-right: 80vw;
}

.head img {
    max-height: 60vh;
    max-width: 20vw;
}

.nav {
    position: relative;
    left: 92vw;
    top: -40vh;
    padding: 20px;
}

.videoWrapper {
    align-items: center;
    justify-content: center;
    padding: 30px;
}